@import "tailwindcss";

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  @apply bg-gray-900 text-gray-100;
}

h1, h2, h3, h4 {
  @apply font-semibold;
}
